<div class = "welcome"> Rock Me </div>

<div class = "home_page">

<div class = "homewelcome"> Welcome to Rock Me, the site that rocks! </div>

  <div class = "introtext"> Do you love rock music? Of course you do or else you probably wouldn't be here. Well these days it is getting harder to find good rock concerts. That's why here at Rock Me we make it easier for you to find shows of the artists you love, and maybe even ones you don't know yet but want to get more into. Don't have any friends who are into the same music as you? No problem, you can use Rock Me to meet up with fellow rock lovers and make new concert buddies. So take a look at some upcoming shows and see if you might be interested in attending any.</div>

<h3><%= link_to 'See Upcoming Shows', concerts_path(@concert) %></h3>
</div>
