


 body {
   background-color: #00FFFF;
   border: 1px solid #ccc;
   box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
   padding: 4px 6px;
   margin-bottom: 10px;
   color: #555;
   vertical-align: middle;
   border-radius: 4px;
   max-width: 100%;
 }

 .home_page{
   text-align: center;
 }

 .welcome{
  font-family: "Rockwell";
 	font-size: 75px;
 	text-align: center;
 }

 .band_links{
   font-size: 60px;
   text-align: center;
 }

 .add_new{
   font-family: "The Juke Box";
   font-size: 70px;
   text-align: center;
   bottom: 0px;
 }

 .band_name{
   font-size: 75px;
   text-align: center;
 }

 .description{
   font-family: "Rockwell Extra Bold";
   font-size: 20px;
   text-align: center;
 }

 .comment{
   font-size: 30px;
   text-align: center;
 }

 .datetime{
   font-size: 40px;
   text-align: center;
 }

 .formtext{
   font-size: 20px;
 }

.test{
  font-size: 40px;
}

.error_explanation{
  font-size: 15px;
}

.error_explanation_title{
  font-size: 50px;
}
.comment-title{
  text-align: center;
  font-size: 70px;
}
.comment-link{
  text-align: center;
}
