


 body {
   background-color: #99ccff;
   border: 1px solid #ccc;
   text: #000000;
   box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
   padding: 4px 6px;
   margin-bottom: 10px;
   color: #555;
   vertical-align: middle;
   border-radius: 4px;
   max-width: 100%;
 }

 .top-bar{
   background-color: #ffd700;
   text: white;
   padding-top: 15px;
 }

 .right{
   background-position: right;
 }

 .home_page{
   text-align: center;
 }

 .introtext{
   font-family: "Century Gothic";
   font-size: 20px;
   padding-left: 50px;
   padding-right: 50px;
 }

 .homewelcome{
   font-family: "Hordor";
   font-size: 30px;
   padding-bottom: 50px;
 }

 .welcome{
  font-family: "Rockwell";
 	font-size: 75px;
 	text-align: center;
 }

 .band_links{
   font-size: 60px;
   text-align: center;
 }

 .add_new{
   font-family: "The Juke Box";
   font-size: 75px;
   text-align: center;
   bottom: 10px;
   padding-top: 50px;
 }

 .band_name{
   font-family: "Copperplate";
   font-size: 75px;
   text-align: center;
 }

 .description{
   font-family: "Papyrus";
   font-size: 40px;
   text-align: center;
   padding-left: 200px;
   padding-right: 200px;
   padding-bottom: 40px;
   padding-top: 15px;
 }

 .comment{
   font-size: 30px;
   text-align: left;
   border: 1px solid black;
   border-radius: 4px;
   margin-top: 20px;
 }

 .datetime{
   font-size: 30px;
   text-align: center;
 }

 .formtext{
   font-size: 20px;
 }

.test{
  text-align: center;
  font-size: 20px;
}

.error_explanation{
  font-size: 15px;
}

.error_explanation_title{
  font-size: 50px;
}
.comments{
  text-align: center;
  font-size: 50px;
  padding-top: 30px;
}
.comment-link{
  text-align: center;
  font-size: 20px;
  padding-top: 40px;
}

.info{
  border: 5px solid black;
  padding-bottom: 10px;
}

.back-button{
  font-size: 20px;
}

.comment-boarder{
  border-spacing: 20px;
  border: 5px solid black;
}
